In [1]:
from jeda import Jeda
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
titanic = sns.load_dataset("titanic")

In [11]:
df = titanic[['sex','age','sibsp','parch','fare','class','deck','embark_town','alive']].copy()

In [12]:
df['rand'] = np.random.choice(range(11),len(df))

In [13]:
j = Jeda(data=df)
j

Jeda(columns=[{'name': 'sex', 'type': 'discrete', 'na': 0, 'values': [{'name': 'female', 'count': 314, 'percenâ€¦