In [1]:
from jeda import Jeda
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
titanic = sns.load_dataset("titanic")

In [3]:
df = titanic[['sex','age','sibsp','parch','fare','class','deck','embark_town','alive']]

In [4]:
j = Jeda(data=df)
j

Jeda(columns=[{'name': 'sex', 'na': 0, 'values': [{'name': 'female', 'count': 314, 'percent': 54.4194107452339â€¦