In [1]:
from jeda import Jeda
import pandas as pd
import numpy as np
import seaborn as sns

In [27]:
titanic = sns.load_dataset("titanic")

In [28]:
df = titanic[['sex','age','sibsp','parch','fare','class','deck','embark_town','alive']].copy()

In [29]:
df['rand'] = np.random.choice(range(11),len(df))

In [30]:
j = Jeda(data=df)
j

Jeda(columns=[{'name': 'sex', 'type': 'discrete', 'na': 0, 'values': ['female', 'male'], 'counts': [314, 577],â€¦

In [26]:
j.data = sns.load_dataset('titanic')